/* HOME */

.home {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Showcase */

.Sowcase {
    position: relative;
    margin:  3rem 1rem 0 1rem;
    width: 80%;
    height: 12rem;
    border-radius: 18px;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRkkE4MAAkihr1xFfnmeMZPRNH4JEhIA-QZA&s'); 
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;
}

.Sowcase .cover {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 40%;
}

.Sowcase .data {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Sowcase .data h1 {
    font-size: 2rem;
    font-weight: 800;
    padding: 5px 0;
}

.Sowcase .data p {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 5px 0;
}

/* Cards */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main h1 {
    font-size: 32px;
    margin: 28px 0;
}

