

@media  screen and (min-width: 1024px) { 
    /* Navbar */
    .navbar .ser {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem auto;
        padding: 0.6rem 0.5rem;
        border: 1.5px solid #000000;
        width: 50%;
        font-size: 1.8rem;
        border-radius: 8px;
        justify-self: center;
    }
    .navbar h1 {
        font-size: 2rem;
        width: 25%;
    }

    .navbar .links {
        width: 20%;
        justify-content: end;
    }
    
}

