@media screen and (min-width: 728px) {
    /* NAVBAR */
    .navbar {
        padding: 0.5rem 1.5rem;
        height: 4rem;
    }
    .links {
        position: relative;
        width: auto;
       
        height: 100%;
        opacity: 100%;
        background-color: white;
        flex-direction: row;
        margin: 0;
        padding: 0;

    }

    .links li {
        display: inline-block;
        padding: 10px;
    }

    .links li a {
        color: #000;
        font-size: 1.2rem;
    }
    .links li i {
        font-size: 1.2rem;
    }

    .navbar h1 {
        font-size: 1.5rem;
    }

    .card:hover {
      scale: 1.1;
    }

    .cards {
        gap: 2.5rem;
    }

    .Showcase {
        height: 20rem;
        width: 75%;
    }

    .Showcase .data h1 {
        font-size: 3rem;
    }

    .Showcase .data p {
        font-size: 1.2rem;
    }

    .registery  {
        width: 100%; 
    }

    .registery h1 {
        font-size: 3rem;
    }
    .registery .sin {
        width: 70%;
    }
    .registery .sin a {
        width: 60%;
        height: 3rem;
    }

    .registery .sin a:hover {
    cursor: pointer;
    scale: 1.1;
    }
    .registery .inp {
        width: 70%;
        gap: 2rem;
    }

    .registery .inp input {
        width: 100%;
        height: 2rem;
    }
    .registery .inp button {
        width: 60%;
        height: 3rem;
    }
    
}